go 1.26.9
toolchain go1.26.9

use (
	./libs/go/platform
	./services/admin-service
	./services/auth-service
	./services/chat-service
	./services/document-converter
	./services/file-service
	./services/media-service
	./services/notification-service
	./services/search-service
)
