go 1.25

use (
	./libs/go/platform
	./services/admin-service
	./services/auth-service
	./services/chat-service
	./services/file-service
	./services/media-service
	./services/notification-service
	./services/search-service
)
