NCHAT_DEV_NODE_IP=REPLACE_ME_NODE_IP
NCHAT_DEV_NODE_CIDR=REPLACE_ME_NODE_CIDR
NCHAT_DEV_HOST=REPLACE_ME_HOST
NCHAT_DEV_PUBLIC_URL=REPLACE_ME_PUBLIC_URL
NCHAT_DEV_TURN_EXTERNAL_IP=REPLACE_ME_TURN_EXTERNAL_IP
LIVEKIT_API_PORT=7880
LIVEKIT_RTC_TCP_PORT=7881
LIVEKIT_RTC_UDP_PORT=7882
TURN_LISTEN_PORT=3480
TURN_RELAY_MIN_PORT=49300
TURN_RELAY_MAX_PORT=49340
